@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;500&family=Playfair+Display&display=swap');

body {
  background-color: #ffece8;
  margin: 0;
}

.header {
	height: 80px;
	width: 100%;
	margin: 0px;
	padding: 0px;
    background-color: #bab2b5;
}
.logo {
	height: 80px;
	width: 80px;
	margin: 0px 60px 0px 100px;
	float: left;
}
.headtext {
	width: 600px;
	margin: 0 0 0 400px;
	text-align: center;
	font-family: 'Playfair Display', serif;
    font-size: 58px;
	color: #ac3b61;
}

.main {
	height: auto;
}

.mainbox {
	height: auto;
	width: 100%;
	float: left;
	background-color: hotpink;
}

.h5 {
	color: black;
	margin: 8px 16px;
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	float: left;
}
.one {
	margin: 8px 0px 8px 65%;
	float: left;
}

.icons {
	height: auto;
	width: auto;
	margin-right: 1%;
	float: right;
}
.two {
	margin: 8px 16px 8px 0px;
	float: left;
}
.two a {
	text-decoration: none;
	color: black;
}

.fa-search {
	color: black;
}
.fa-user {
	color: black;
}
.fa-shopping-cart {
	color: black;
	border-radius: 100px;
	margin-right: 0px;
	background-color: antiquewhite;
	text-align: left;
}
.h4 {
	color: black;
	margin: 8px 16px 8px 0px;
	float: left;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*subheader*/
.subbox {
	background-color: pink;
	height: auto;
	width: 100%;
	align: left;
	float: left;
}

.three {
	padding: 1%;
	float: left;
	list-style-type: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
}
.three a {
	text-decoration: none;
	color: black;
}
.three a:hover {
	border-bottom: 4px solid rgb(0, 0, 0);
}



.text {
  height: auto;
  width: 61.3%;
  padding: 20% 0;
}
h1 {
  font: 72px;
  font-family: cursive;
  width: 560px;
  word-spacing: normal;
  line-height: 100%;
  text-align: center;
}
h6 {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
form input[type="submit"] {
  padding: 10px;
  text-transform: uppercase;
  background-color: plum;
  border: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
}
form input[type="submit"]:hover {
  background-color: hotpink;
}
.h1 {
	display: flex;
    align-items: center;
    justify-content: center;
}
.h6 {
	display: flex;
    align-items: center;
    justify-content: center;
}
.form1 {
	display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
	float: right;
	background-size: cover;
}

.cont {
	height: 982px;
}
.top {

}

.bottom {
	height: 30%;
	width: 100%;
	float: right;
}
.about {
	width: 29%;
	padding: 1%;
	float: right;
	text-align: justify;
}
.contact {
	width: 66%;
	padding: 1%;
	float: right;
}
