@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;500&family=Playfair+Display&display=swap');

body {
  background-color: #ffece8;
  margin: 0;
}

.header {
	height: 80px;
	width: 100%;
	margin: 0px;
	padding: 0px;
    background-color: #bab2b5;
}
.logo {
	height: 80px;
	width: 80px;
	margin: 0px 60px 0px 100px;
	float: left;
}
.headtext {
	width: 600px;
	margin: 0 0 0 400px;
	text-align: center;
	font-family: 'Playfair Display', serif;
    font-size: 58px;
	color: #ac3b61;
}

/* Main header*/
.mainbox {
  border: 1px solid transparent;
  background-color: hotpink;
  height: 30px;
}
ul {
  float: left;
  color: black;
}
ul li {
  margin-top: -10px;
  float: left;
  position: relative;
  left: 300%;
  width: 100px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: black;
}
h5 {
  margin-top: 10px;
  color: black;
  margin: 7px 12px;
  position: relative;
  left: -17rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}
/*subheader*/
.subbox {
  border: 1px solid transparent;
  background-color: pink;
  height: 50px;
}
ol {
  float: left;
}
ol li {
  float: left;
  width: 90px;
  position: relative;
  left: 45%;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
ol li a {
  text-decoration: none;
  color: black;
}
ol li a:hover {
  border-bottom: 4px solid rgb(0, 0, 0);
}
.fa-search {
  position: absolute;
  left: 82%;
  top: 9%;
  color: black;
}
.fa-user {
  position: absolute;
  left: 85%;
  top: 9%;
  color: black;
}
.fa-shopping-cart {
  position: absolute;
  left: 88%;
  top: 9%;
  color: black;
  width: 25px;
  height: -30px;
  border-radius: 100px;
  background-color: antiquewhite;
  margin-top: -2px;
  margin-left: -4px;
  text-align: left;
}
h4 {
  color: red;
  position: absolute;
  left: 88.8%;
  top: 4%;
  width: 18px;
  height: -50px;
  border-radius: 100px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  position: relative;
  left: -60%;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 10px;
  margin-top: 4px;
  font-weight: bolder;
}
.cover {
  float: right;
  background-size: cover;
}
.text {
  position: absolute;
  top: 30%;
  left: 7%;
}
h1 {
  font: 70px;
  font-family: cursive;
  text-transform: capitalize;
  padding-top: 50px;
  text-align: center;
  width: 460px;
  word-spacing: normal;
  line-height: 100%;
}
h6 {
  position: absolute;
  top: 70px;
  padding-top: 100px;
  padding-left: 75px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
form input[type="submit"] {
  position: absolute;
  bottom: -180px;
  left: 180px;
  padding: 10px;
  text-transform: uppercase;
  background-color: plum;
  border: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
}
form input[type="submit"]:hover {
  background-color: hotpink;
}

/* filpcarts*/
.productholder {
  flex-wrap: wrap;
  align-items: center;
  padding-left: 150px;
  justify-content: space-around;
  float: center;
}
.card {
  float: left;
  outline: 2px solid antiquewhite;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  min-height: 1rem;
  margin: 1.5rem;
  transition: 0.3s;
  background-color: #f7c3b8;
  box-shadow: black;
}
.card:hover {
  transform: scale(1.1);
}
.cardtext * {
  margin: 0.5rem;
}
.category {
  font-weight: 400;
  opacity: 0.7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-style: italic;
}
input[type="submit"] {
  text-transform: uppercase;
  background-color: plum;
  border: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
}

input[type="submit"]:hover {
  background-color: hotpink;
}
.bot {
  padding-top: 60%;
}
