@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;500&family=Playfair+Display&display=swap');

body {
  background-color: #ffece8;
  margin: 0;
}

.header {
	height: 80px;
	width: 100%;
	margin: 0px;
	padding: 0px;
    background-color: #bab2b5;
}
.logo {
	height: 80px;
	width: 80px;
	margin: 0px 60px 0px 100px;
	float: left;
}
.headtext {
	width: 600px;
	margin: 0 0 0 400px;
	text-align: center;
	font-family: 'Playfair Display', serif;
    font-size: 58px;
	color: #ac3b61;
}

.main {
	height: auto;
	background-color: red;
}

.mainbox {
	height: auto;
	width: 100%;
	float: left;
	background-color: hotpink;
}

.h5 {
	color: black;
	margin: 8px 16px;
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	float: left;
}
.one {
	margin: 8px 0px 8px 65%;
	float: left;
}

.icons {
	height: auto;
	width: auto;
	margin-right: 1%;
	float: right;
}
.two {
	margin: 8px 16px 8px 0px;
	float: left;
}
.two a {
	text-decoration: none;
	color: black;
}

.fa-search {
	color: black;
}
.fa-user {
	color: black;
}
.fa-shopping-cart {
	color: black;
	border-radius: 100px;
	margin-right: 0px;
	background-color: antiquewhite;
	text-align: left;
}
.h4 {
	color: black;
	margin: 8px 16px 8px 0px;
	float: left;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*subheader*/
.subbox {
	background-color: pink;
	height: auto;
	width: 100%;
	align: left;
	float: left;
}

.three {
	padding: 1%;
	float: left;
	list-style-type: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
}
.three a {
	text-decoration: none;
	color: black;
}
.three a:hover {
	border-bottom: 4px solid rgb(0, 0, 0);
}

.cover {
	float: right;
	background-size: cover;
}
.cover {
  float: right;
  background-size: cover;
}

.text {
  position: absolute;
  top: 30%;
  left: 7%;
}
h1 {
  font: 70px;
  font-family: cursive;
  text-transform: capitalize;
  padding-top: 50px;
  text-align: center;
  width: 460px;
  word-spacing: normal;
  line-height: 100%;
}
h6 {
  position: absolute;
  top: 70px;
  padding-top: 100px;
  padding-left: 75px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
form input[type="submit"] {
  position: absolute;
  bottom: -180px;
  left: 180px;
  padding: 10px;
  text-transform: uppercase;
  background-color: plum;
  border: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
}
form input[type="submit"]:hover {
  background-color: hotpink;
}

/* filpcarts*/
.productholder {
  flex-wrap: wrap;
  align-items: center;
  padding-left: 150px;
  justify-content: space-around;
  float: center;
}
.card {
  float: left;
  outline: 2px solid antiquewhite;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  min-height: 1rem;
  margin: 1.5rem;
  transition: 0.3s;
  background-color: #f7c3b8;
  box-shadow: black;
}
.card:hover {
  transform: scale(1.1);
}
.cardtext * {
  margin: 0.5rem;
}
.category {
  font-weight: 400;
  opacity: 0.7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-style: italic;
}
input[type="submit"] {
  text-transform: uppercase;
  background-color: plum;
  border: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
}

input[type="submit"]:hover {
  background-color: hotpink;
}
.bot {
  padding-top: 60%;
}
